[submodule "terraform"]
	path = terraform
	url = git@github.com:titaniper/terraform.git
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:titaniper/kubernetes.git
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:titaniper/jenkins.git
